# Mac hidden files
.DS_Store
*/.DS_Store
*/*/.DS_Store

# Credentials
credentials.json

# Images
app/resources/images/*

# Features
app/resources/features/*

# IPython Notebook Checkpoints
app/src/.ipynb_checkpoints/

app/resources/corpus.pkl
