# Mac hidden files
.DS_Store
*/.DS_Store
*/*/.DS_Store

# Resources
app/resources/config
app/resources/conf/conf.json
app/resources/images/*

# Features
app/resources/features/*

# IPython Notebook Checkpoints
app/src/.ipynb_checkpoints/

app/resources/corpus.pkl
